<div class="container-fluid metadata-container">
  <div class="row mongo-connection">
    <div class="form-group">
      <label class="title">Enter the mongodb connection string</label>
      <input type="text" class="form-control connectionInput mt-3" pTooltip="Enter Mongodb connection string"
        placeholder="mongodb+srv://username:password@clusterAddress" [(ngModel)]="connectionString" />
    </div>
    <div class="form-group pt-4">
      <button [disabled]="connectionString === '' || !connectionString" class="btn btn-primary"
        (click)="onValidate()">Connect</button>
    </div>
  </div>
</div>
