.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.metadata-container {
  position: absolute;
    top: 35%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
    width: 600px;
    height: 400px;
  .mongo-connection {
    .title{
      font-size: x-large;
      font-weight: bolder;
    }
    .connectionInput {
      width: 900px;
    }
  }
}
