<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light border-bottom">
    <div
      class="d-flex justify-content-between w-100 align-items-center"
      style="height: 38px"
    >
      <div class="d-flex pl-2" style="width: 110px; height: 38px">
        <a href="/projects">
          <img
            src="./../../assets/PeerIslands-Logo_Color_RGB-e1574207497308.png"
            class="logo peerislands-logo pr-2"
          />
        </a>
        <img src="./../../assets/mongodb-logo.png" class="logo pl-2" />
      </div>
      <div>
        <h4 class="text-success pt-2" style="height: 28px">Shard Manager</h4>
      </div>
      <div class="dropleft mr-3">
        <button
          type="button"
          class="btn btn-success"
          style="width: 42px; height: 38px"
        >
          <a href="/projects"
            ><i class="pi pi-home" style="font-size: 1.5rem; color: white"></i
          ></a>
        </button>
      </div>
    </div>
  </nav>
</header>
