.shard-home {
  height: calc(100vh - 8rem);
  width: 100%;
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  .shard-title {
    .icon {
      width: 28px;
      height: 28px;
    }
    .title {
      font-size: 1.8rem;
      font-weight: 400;
      color: gray;
    }
  }
  .chunk-metadata-label {
    font-size: 1.2rem;
    font-weight: 500;
    color: gray;
  }

  .page-content {
    min-height: 95%;
    height: 95%;
    aside {
      background-color: rgba(0, 0, 0, 0.03);
      min-width: 20rem !important;
      width: 20rem;
      padding-left: 0.25rem;
    }
    main {
      height: 100%;
      flex: 1;
      overflow: auto;
    }
  }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

:host::ng-deep .p-sidebar {
  height: 95% !important;
  margin-top: 60px;
  margin-left: 10px;
}

:host::ng-deep .p-sidebar-close {
  display: none;
}

.metadata {
  border-right: 1px solid #dee2e6 !important;
}

.full-height {
  height: 100% !important;
}

:host ::ng-deep .p-listbox .p-listbox-header .p-checkbox {
  display: none;
}

:host ::ng-deep .p-listbox .p-listbox-header {
  height: 20px;
}
