<div class="shard-home">
  <div class="page-header">
    <div class="container-fluid align-items-center">
      <div class="d-flex pb-2 justify-content-between">
        <div class="float-right">
          <h1 class="d-flex pl-3 pt-2 align-items-center shard-title">
            <img class="icon" src="../../../../assets/database.png" />
            <span class="pl-1 title">Shards</span>
          </h1>
        </div>
        <div>
          <div class="d-flex float-right pr-2">
            <!-- <button (click)="toggleFilters()" class="btn btn-icon" [ngClass]="{ 'btn-primary': showFilters }">
              <i class="pi pi-filter"></i>
              <span>Filters</span>
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <header class="card-header page-subheader d-flex border-bottom align-items-center justify-content-between py-1 pr-1">
    <div class="d-flex justify-content-start align-items-center" [style]="{ width: '50rem' }">
      <!-- <div class="search d-flex justify-content-between align-items-center">
        <i class="pi pi-search pr-1"></i>
        <input placeholder="Search shards" pInputText (input)="search($event)" />
      </div> -->
    </div>
    <div class="d-flex justify-content-flex-end align-items-center">
      <div class="mr-2 sort">
        <!-- <label>Split Chunks: </label> -->
        <button pButton class="p-button-primary float-right" pTooltip="Split Chunks" label="Split Chunks"
          iconPos="right" (click)="onSplitChunksClick()"></button>
      </div>
    </div>
  </header>
  <div class="page-content">
    <div class="container-fluid d-flex align-items-stretch h-100">
      <aside *ngIf="true">
        <shard-metadata [connectionId]="connectionId" (databaseChange)="onDatabaseChange($event)"
          (collectionChange)="onCollectionChange($event)" (collectionStatsChange)="onCollectionStatChange($event)">
        </shard-metadata>
      </aside>
      <main class="card flex-fill">
        <shards-grid-view *ngIf="shards && shards.length > 0" [style]="{ height: '100%' }" [shards]="shards"
          [collectionStats]="collectionStats">
        </shards-grid-view>
      </main>
    </div>
  </div>
</div>

<div>
  <p-dialog [(visible)]="showEditChunksDialog" [style]="{ width: '50rem' }" [keepInViewport]="true"
    [maximizable]="true">
    <p-header>
      <h5>Edit/Split Chunks</h5>
    </p-header>
    <div class="container pt-3">
      <div class="d-flex justify-content-between" [style]="{ 'text-align': 'center' }">
        <label class="dialog-p" style="font-weight: bold; margin-top: 10px">Auto Balancer Status : {{ autoBalancerStatus
          }}</label>
        <button pButton type="button" [(label)]="balancerButtonLabel" [style]="{
            width: '10rem',
            height: '2.2rem',
            'padding-right': '0.5rem',
            'margin-right': '0.5rem'
          }" (click)="modifyBalancerState()"></button>
      </div>
      <hr />
      <label class="dialog-p" style="font-weight: bold; margin-top: 5px">Split Chunks</label>
      <div>
        <div class="form-group">
          <label class="dialog-p" for="loopStart">Loop Start Position</label>
          <input type="text" class="form-control" class="form-control" pTooltip="Enter the start position of the loop"
            [(ngModel)]="loopStart" />
        </div>
        <div class="form-group">
          <label class="dialog-p" for="loopEnd">Loop End Position</label>
          <input type="text" class="form-control" class="form-control" pTooltip="Enter the end position of the loop"
            [(ngModel)]="loopEnd" />
        </div>
        <div class="mt-2" *ngFor="let key of shardKey">
          <label class="dialog-p" style="font-weight: small; margin-top: 2px">Shard Key Field : {{ key.name }}</label>
          <p-dropdown [options]="bsonTypes" [(ngModel)]="key.bsonType" optionLabel="name" placeholder="Select"
            (onChange)="onBsonTypeChange(key)" [style]="{
              width: '100%',
              height: '2.5rem',
              'padding-left': '0.5rem'
            }">
          </p-dropdown>
          <input [style]="{ 'margin-top': '0.5rem' }" *ngIf="
              key.dataType !== 'MaxKey' &&
              key.dataType !== 'MinKey' &&
              key.dataType !== 'Int32'
            " type="text" class="form-control" class="form-control" pTooltip="Enter the value"
            placeholder="Enter the Value" [(ngModel)]="key.value" />
        </div>
        <button pButton type="button" label="Split" [style]="{
            width: '6rem',
            height: '2.2rem',
            'padding-right': '0.5rem',
            'margin-right': '0.5rem',
            'margin-top': '0.7rem'
          }" (click)="splitChunk()"></button>
      </div>
    </div>
    <p-footer>
      <div class="pt-4">
        <!-- <button pButton type="button" label="Save" icon="pi pi-check p-button-sm" (click)="addNewProperty()"></button> -->
        <button pButton type="button" label="Cancel" icon="pi pi-times p-button-sm"
          (click)="displaySplitChunksDialog(false)"></button>
      </div>
    </p-footer>
  </p-dialog>
</div>
