.p-datatable .p-datatable-thead > tr {
  line-height: 0.2;
  padding: 0.1rem 0.1rem;
  font-size: medium;
}

.p-datatable .p-datatable-thead > tr > th {
  line-height: 0.2;
  padding: 0.1rem 0.1rem;
  font-size: medium;
}

.p-datatable .p-datatable-tbody > tr > td {
  line-height: 0.2;
  padding: 0.1rem 0.1rem;
  font-size: small;
}
